/*Navbar*/
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;

}
/*haeding*/
.heading{
    font-size: 2.5rem;

}
/*Aboutme*/
#pic{
    flex-direction: column;
    align-items: center;
}
#pig img{
    width: 676px;
    height: 331px;
}
#intro h2{
    text-align: center;
    padding: 10px;
}
/*contact*/
.input{
    width: 60%;
}
#msg{
    width: 55%;
}
#send{
    width: 20%;    
}